# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings/

# Intellij
# Scala project
flink-project/.idea/
flink-project/out
flink-project/mainRunner/target/

# Java
flink-project-java/.idea/

# General
*.iml
*.iws
*.class
*.ipr
sample-data/
output/

# Maven
flink-project-java/log/
flink-project-java/target/

